In [1]:
import pandas as pd

In [32]:
ridership_df = pd.read_csv('CTA_ridership_daily_totals.csv')

In [11]:
stops["MAP_ID"].value_counts()

41220    4
40900    4
41320    4
40540    4
40380    4
        ..
40610    2
41120    2
40090    2
40600    2
40440    2
Name: MAP_ID, Length: 143, dtype: int64

In [33]:
l_stops_df = pd.read_csv('CTA_list_of_L_stops.csv')
station_bools = l_stops_df[['MAP_ID','ADA','RED','BLUE','G','BRN','P','Pexp','Y','Pnk','O']].groupby('MAP_ID').any()
l_stations_df = l_stops_df[['MAP_ID','STATION_NAME','STATION_DESCRIPTIVE_NAME','Location']] \
    .merge(station_bools, how='left', left_on='MAP_ID', right_index=True).drop_duplicates()

In [34]:
l_stations_df[['latitude','longitude']] = \
   l_stations_df['Location'].str.replace('\(|\)','',regex=True) \
   .str.split(',', expand=True).apply(pd.to_numeric)
l_stations_df.drop('Location', axis=1, inplace=True)

In [37]:
df = pd.merge(ridership_df, l_stations_df, how='left', left_on='station_id', right_on='MAP_ID')
df[df['latitude'] < 41.881]['rides']

2          722
4          764
9          586
18         441
22        1190
          ...
258089     394
258093    2449
258096    1168
258101     486
258107     373
Name: rides, Length: 109556, dtype: int64

In [41]:
from sqlalchemy import create_engine
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import inspect

# Path to sqlite, THIS MAY NOT MATCH YOUR PATH
database_path = "Census_Data.sqlite"

# Create an engine that can talk to the database
engine = create_engine(f"sqlite:///{database_path}")
conn = engine.connect()

In [42]:
inspector = inspect(engine)
inspector.get_table_names()

['Census_Data']

In [43]:
inspector.get_columns("Census_Data")[0]

{'name': 'CityState',
 'type': TEXT(),
 'nullable': True,
 'default': None,
 'autoincrement': 'auto',
 'primary_key': 0}

In [44]:
column_names = inspector.get_columns("Census_Data")
for column in column_names:
    print(column["name"])

CityState
city
state
Population
White Population
Black Population
Native American Population
Asian Population
Hispanic Population
Education None
Education High School
Education GED
Education Associates
Education Bachelors
Education Masters
Education Professional
Education Doctorate
Poverty
Employment Labor Force
Employment Unemployed
Employment Male Computer Engineering
Employment Female Computer Engineering
Median Age
Median Male Age
Median Female Age
Household Income
Income Per Capita
Median Gross Rent
Median Home Value
lat
lng

In [56]:
data = engine.execute("SELECT CityState, [Median Age] FROM Census_Data  WHERE Population >= 100000 ORDER BY [Median Age]")
for record in data:
    print(record)

('PROVO, UT', 23.83333333)
('ATHENS, GA', 25.31666667)
('BLOOMINGTON, IN', 25.88333333)
('COLLEGE STATION, TX', 25.9)
('COLUMBIA, MO', 26.925)
('SAN BERNARDINO, CA', 27.7)
('MISSION, TX', 27.96666667)
('FARGO, ND', 28.1)
('GREENVILLE, NC', 28.1)
('PERRIS, CA', 28.15)
('BELL GARDENS, CA', 28.2)
('EDINBURG, TX', 28.3)
('LAREDO, TX', 28.66666667)
('NEWARK, DE', 28.92)
('COMPTON, CA', 28.96666667)
('MERCED, CA', 29.03333333)
('KILLEEN, TX', 29.25)
('WACO, TX', 29.33333333)
('CHARLESTON, SC', 29.34)
('LUBBOCK, TX', 29.4)
('ANN ARBOR, MI', 29.48)
('PROVIDENCE, RI', 29.7)
('FONTANA, CA', 29.86666667)
('VICTORVILLE, CA', 30.0)
('NORFOLK, VA', 30.12142857)
('NEW HAVEN, CT', 30.14)
('MORENO VALLEY, CA', 30.15)
('BROWNSVILLE, TX', 30.16666667)
('ABILENE, TX', 30.16666667)
('ODESSA, TX', 30.26666667)
('RIALTO, CA', 30.35)
('COLUMBIA, SC', 30.38571429)
('POMONA, CA', 30.43333333)
('GAINESVILLE, FL', 30.54)
('SANTA CLARA, CA', 30.625)
('MURFREESBORO, TN', 30.7)
('HARTFORD, CT', 30.75)
('ROCK HILL, SC', 30.76666667)
('TUSCALOOSA, AL', 30.825)
('WEST JORDAN, UT', 30.86666667)
('CAMBRIDGE, MA', 30.9)
('BOULDER, CO', 31.08333333)
('BAKERSFIELD, CA', 31.1)
('PASADENA, TX', 31.1)
('CLARKSVILLE, TN', 31.3)
('NORTH LAS VEGAS, NV', 31.32857143)
('GREELEY, CO', 31.45)
('CORONA, NY', 31.5)
('PACOIMA, CA', 31.5)
('NORCROSS, GA', 31.53333333)
('SANTA ANA, CA', 31.55)
('MADISON, WI', 31.56153846)
('DENTON, TX', 31.63333333)
('CHICO, CA', 31.63333333)
('SALT LAKE CITY, UT', 31.74782609)
('STOCKTON, CA', 31.79166667)
('HUMBLE, TX', 31.83333333)
('OGDEN, UT', 31.86)
('ONTARIO, CA', 31.9)
('MESQUITE, TX', 31.96666667)
('IRVING, TX', 31.98333333)
('PALMDALE, CA', 32.0)
('FRESNO, CA', 32.01111111)
('KALAMAZOO, MI', 32.12857143)
('MIDLAND, TX', 32.14)
('RIVERSIDE, CA', 32.175)
('BRIDGEPORT, CT', 32.2)
('NAMPA, ID', 32.2)
('NEWARK, NJ', 32.22222222)
('FORT COLLINS, CO', 32.26)
('JACKSON, MS', 32.26363636)
('GRAND PRAIRIE, TX', 32.3)
('YPSILANTI, MI', 32.3)
('LAFAYETTE, IN', 32.325)
('HESPERIA, CA', 32.45)
('HOMESTEAD, FL', 32.47142857)
('AURORA, IL', 32.54)
('BATON ROUGE, LA', 32.55882353)
('LAS CRUCES, NM', 32.57142857)
('MCALLEN, TX', 32.6)
('FORT WORTH, TX', 32.60625)
('TEMPE, AZ', 32.675)
('CHARLOTTESVILLE, VA', 32.68)
('WINSTON SALEM, NC', 32.68888889)
('EL PASO, TX', 32.72608696)
('VISALIA, CA', 32.73333333)
('WEST CHESTER, PA', 32.73333333)
('LOWELL, MA', 32.75)
('VIRGINIA BEACH, VA', 32.75833333)
('MADERA, CA', 32.76666667)
('OXNARD, CA', 32.825)
('LANCASTER, CA', 32.83333333)
('IDAHO FALLS, ID', 32.875)
('BAYTOWN, TX', 32.9)
('COLUMBUS, OH', 32.93666667)
('AUGUSTA, GA', 32.9375)
('ATLANTA, GA', 33.01538462)
('NEWPORT NEWS, VA', 33.02857143)
('SAN DIEGO, CA', 33.09722222)
('GILBERT, AZ', 33.13333333)
('CYPRESS, TX', 33.15)
('DES MOINES, IA', 33.18181818)
('AURORA, CO', 33.22727273)
('JOLIET, IL', 33.24)
('SANTA MARIA, CA', 33.26666667)
('OCEANSIDE, CA', 33.3)
('ROUND ROCK, TX', 33.3)
('GREENVILLE, SC', 33.34444444)
('MONTGOMERY, AL', 33.35384615)
('LAFAYETTE, LA', 33.36)
('BALTIMORE, MD', 33.39090909)
('LANSING, MI', 33.4)
('LA PUENTE, CA', 33.4)
('PATERSON, NJ', 33.41111111)
('HOUSTON, TX', 33.43958333)
('HYATTSVILLE, MD', 33.46)
('NORMAN, OK', 33.475)
('LEHIGH ACRES, FL', 33.48333333)
('ARLINGTON, TX', 33.53333333)
('EVERETT, WA', 33.53333333)
('WORCESTER, MA', 33.56666667)
('PEORIA, IL', 33.62222222)
('KANSAS CITY, KS', 33.64444444)
('GAINESVILLE, GA', 33.675)
('WASHINGTON, DC', 33.71034483)
('JERSEY CITY, NJ', 33.71428571)
('INGLEWOOD, CA', 33.76)
('BOSTON, MA', 33.83333333)
('WOODBRIDGE, VA', 33.83333333)
('GRAND RAPIDS, MI', 33.875)
('CHULA VISTA, CA', 33.88)
('COSTA MESA, CA', 33.9)
('ASHBURN, VA', 33.9)
('SANTA CRUZ, CA', 33.95)
('DALLAS, TX', 33.96666667)
('GARLAND, TX', 33.98)
('NORWALK, CA', 34.0)
('KATY, TX', 34.075)
('MEMPHIS, TN', 34.16153846)
('SAN ANTONIO, TX', 34.19)
('MURRIETA, CA', 34.2)
('CHARLOTTE, NC', 34.20833333)
('TALLAHASSEE, FL', 34.29)
('TRACY, CA', 34.325)
('SAN ANGELO, TX', 34.35)
('MODESTO, CA', 34.35714286)
('OMAHA, NE', 34.38387097)
('RALEIGH, NC', 34.38666667)
('PHOENIX, AZ', 34.41428571)
('MILWAUKEE, WI', 34.43103448)
('HUNTSVILLE, AL', 34.44545455)
('VAN NUYS, CA', 34.45)
('OLATHE, KS', 34.45)
('COLORADO SPRINGS, CO', 34.46896552)
('NASHVILLE, TN', 34.47272727)
('VISTA, CA', 34.5)
('BRONX, NY', 34.516)
('CHICAGO, IL', 34.52678571)
('ASTORIA, NY', 34.55)
('AUSTIN, TX', 34.60454545)
('MACON, GA', 34.61111111)
('IRVINE, CA', 34.63333333)
('TACOMA, WA', 34.6952381)
('COLUMBUS, GA', 34.71666667)
('CORONA, CA', 34.72)
('PHILADELPHIA, PA', 34.73191489)
('ORLANDO, FL', 34.75)
('LYNCHBURG, VA', 34.75)
('DURHAM, NC', 34.8125)
('DENVER, CO', 34.82368421)
('RICHMOND, TX', 34.83333333)
('ALBANY, GA', 34.85)
('SPRINGFIELD, MA', 34.86)
('TAMPA, FL', 34.86666667)
('BEAVERTON, OR', 34.875)
('LEXINGTON, KY', 34.9)
('KENOSHA, WI', 34.9)
('GLENDALE, AZ', 34.92222222)
('MANASSAS, VA', 34.925)
('MCKINNEY, TX', 34.93333333)
('DOWNEY, CA', 34.93333333)
('KENT, WA', 34.95)
('ANTIOCH, CA', 34.95)
('ELK GROVE, CA', 34.96666667)
('LEWISVILLE, TX', 34.96666667)
('HAYWARD, CA', 34.975)
('OKLAHOMA CITY, OK', 34.99302326)
('FREDERICKSBURG, VA', 35.02)
('GREENSBORO, NC', 35.02222222)
('ORANGE, CA', 35.06)
('ARLINGTON, VA', 35.06666667)
('BEAUMONT, TX', 35.1)
('HAMPTON, VA', 35.1)
('ELGIN, IL', 35.13333333)
('LAWRENCEVILLE, GA', 35.15)
('FRISCO, TX', 35.15)
('BROOKLYN, NY', 35.17567568)
('EDMOND, OK', 35.18)
('KELLER, TX', 35.2)
('RIDGEWOOD, NY', 35.2)
('JACKSONVILLE, FL', 35.28387097)
('WICHITA, KS', 35.3)
('ANAHEIM, CA', 35.3)
('PEARLAND, TX', 35.3)
('FAYETTEVILLE, NC', 35.325)
('NORTH HOLLYWOOD, CA', 35.325)
('LOS ANGELES, CA', 35.33548387)
('DOUGLASVILLE, GA', 35.35)
('SAVANNAH, GA', 35.4)
('FORT WAYNE, IN', 35.41875)
('CHATTANOOGA, TN', 35.44666667)
('SUNNYVALE, CA', 35.45)
('LAUREL, MD', 35.45)
('DAVENPORT, IA', 35.45)
('WHITTIER, CA', 35.51666667)
('ALBANY, NY', 35.52727273)
('SACRAMENTO, CA', 35.52857143)
('GREEN BAY, WI', 35.54285714)
('KISSIMMEE, FL', 35.61428571)
('EUGENE, OR', 35.61666667)
('BELLINGHAM, WA', 35.63333333)
('FULLERTON, CA', 35.65)
('TULSA, OK', 35.65357143)
('YAKIMA, WA', 35.675)
('LAKE CHARLES, LA', 35.68)
('SUMMERVILLE, SC', 35.7)
('WATERBURY, CT', 35.7)
('SANDY, UT', 35.725)
('CONROE, TX', 35.72857143)
('LYNNWOOD, WA', 35.73333333)
('CORPUS CHRISTI, TX', 35.73888889)
('FLINT, MI', 35.8)
('CLOVIS, CA', 35.8)
('DETROIT, MI', 35.88)
('OAKLAND, CA', 35.89285714)
('CHESAPEAKE, VA', 35.95)
('RICHMOND, VA', 35.96428571)
('CARROLLTON, TX', 35.96666667)
('SYRACUSE, NY', 36.0)
('DECATUR, GA', 36.02)
('SOUTH BEND, IN', 36.02)
('SPRINGFIELD, MO', 36.1)
('ROCHESTER, NY', 36.1375)
('MINNEAPOLIS, MN', 36.14)
('SPOKANE, WA', 36.17142857)
('SALEM, OR', 36.18571429)
('INDIANAPOLIS, IN', 36.22432432)
('TOLEDO, OH', 36.24666667)
('BUFFALO, NY', 36.25)
('PENSACOLA, FL', 36.25384615)
('ERIE, PA', 36.26923077)
('JAMAICA, NY', 36.28333333)
('SALINAS, CA', 36.34)
('ALLEN, TX', 36.35)
('TYLER, TX', 36.35555556)
('BERKELEY, CA', 36.35555556)
('RANCHO CUCAMONGA, CA', 36.375)
('NEW ORLEANS, LA', 36.45789474)
('AMARILLO, TX', 36.48571429)
('NEW YORK, NY', 36.49777778)
('SPRING, TX', 36.5375)
('SHREVEPORT, LA', 36.55833333)
('MOBILE, AL', 36.57647059)
('KNOXVILLE, TN', 36.64444444)
('SAINT PAUL, MN', 36.64482759)
('DULUTH, GA', 36.7)
('FALLS CHURCH, VA', 36.72)
('RENTON, WA', 36.74)
('BIRMINGHAM, AL', 36.77)
('ESCONDIDO, CA', 36.775)
('FAIRFAX, VA', 36.775)
('BOISE, ID', 36.78888889)
('SAN JOSE, CA', 36.825)
('KANSAS CITY, MO', 36.82857143)
('STONE MOUNTAIN, GA', 36.83333333)
('ALEXANDRIA, VA', 36.85714286)
('WICHITA FALLS, TX', 36.87142857)
('PUYALLUP, WA', 36.88)
('EL CAJON, CA', 36.9)
('LOUISVILLE, KY', 36.925)
('AUBURN, WA', 36.93333333)
('HIGH POINT, NC', 36.95)
('CONCORD, NC', 36.95)
('CINCINNATI, OH', 36.96888889)
('ALBUQUERQUE, NM', 37.00588235)
('FREDERICK, MD', 37.025)
('WEST COVINA, CA', 37.1)
('MARIETTA, GA', 37.18571429)
('HAMILTON, OH', 37.23333333)
('FAIRFIELD, CA', 37.25)
('READING, PA', 37.28)
('ROANOKE, VA', 37.3)
('HARRISBURG, PA', 37.3)
('HENRICO, VA', 37.31428571)
('LONGVIEW, TX', 37.34)
('LINCOLN, NE', 37.34545455)
('SIOUX FALLS, SD', 37.36666667)
('PANAMA CITY, FL', 37.36666667)
('VALLEJO, CA', 37.4)
('APPLETON, WI', 37.4)
('LAS VEGAS, NV', 37.41666667)
('TOPEKA, KS', 37.42222222)
('SAINT LOUIS, MO', 37.46)
('AKRON, OH', 37.47058824)
('CLEVELAND, OH', 37.47586207)
('RACINE, WI', 37.48)
('ALPHARETTA, GA', 37.5)
('BROKEN ARROW, OK', 37.5)
('VANCOUVER, WA', 37.52727273)
('SILVER SPRING, MD', 37.52857143)
('SPARTANBURG, SC', 37.56)
('STAMFORD, CT', 37.56666667)
('GASTONIA, NC', 37.56666667)
('TRENTON, NJ', 37.56923077)
('BOTHELL, WA', 37.6)
('BILLINGS, MT', 37.675)
('CUMMING, GA', 37.7)
('CEDAR RAPIDS, IA', 37.7)
('OVERLAND PARK, KS', 37.72222222)
('FREMONT, CA', 37.775)
('INDEPENDENCE, MO', 37.775)
('GARDEN GROVE, CA', 37.82)
('ROCHESTER, MN', 37.825)
('ENGLEWOOD, CO', 37.825)
('RICHARDSON, TX', 37.9)
('WILMINGTON, NC', 37.91666667)
('PORTLAND, OR', 37.96060606)
('JACKSON, MI', 37.96666667)
('TEMECULA, CA', 38.0)
('LONGMONT, CO', 38.03333333)
('YONKERS, NY', 38.04)
('VACAVILLE, CA', 38.05)
('PLANO, TX', 38.05714286)
('STATEN ISLAND, NY', 38.11666667)
('LONG BEACH, CA', 38.13333333)
('SAINT CHARLES, MO', 38.23333333)
('SCHENECTADY, NY', 38.25)
('SEATTLE, WA', 38.3)
('YORK, PA', 38.4)
('MANCHESTER, NH', 38.4)
('SAN FRANCISCO, CA', 38.43571429)
('BURBANK, CA', 38.44)
('CONCORD, CA', 38.525)
('DALY CITY, CA', 38.55)
('CARY, NC', 38.575)
('REDWOOD CITY, CA', 38.575)
('ROCKVILLE, MD', 38.6)
('SPARKS, NV', 38.6)
('HEMET, CA', 38.63333333)
('ROSEVILLE, CA', 38.66666667)
('BELLEVUE, WA', 38.74)
('MIAMI, FL', 38.74074074)
('WEST PALM BEACH, FL', 38.76666667)
('EDISON, NJ', 38.86666667)
('CHANDLER, AZ', 38.88333333)
('PITTSBURGH, PA', 38.88461538)
('NAPERVILLE, IL', 38.925)
('PUEBLO, CO', 38.98571429)
('LITTLE ROCK, AR', 38.99166667)
('VENTURA, CA', 39.0)
('PEORIA, AZ', 39.025)
('DULUTH, MN', 39.06363636)
('PASADENA, CA', 39.11666667)
('SPRINGFIELD, VA', 39.175)
('TUCSON, AZ', 39.24375)
('EVANSVILLE, IN', 39.35555556)
('DAYTON, OH', 39.38214286)
('SAN LEANDRO, CA', 39.4)
('MESA, AZ', 39.5)
('LAKE WORTH, FL', 39.51666667)
('GLENDALE, CA', 39.52222222)
('MUSKEGON, MI', 39.66)
('SIMI VALLEY, CA', 39.7)
('LAKELAND, FL', 39.71111111)
('BETHLEHEM, PA', 39.85)
('OLYMPIA, WA', 39.86666667)
('SUGAR LAND, TX', 39.86666667)
('BOWLING GREEN, KY', 39.9)
('SAN MATEO, CA', 40.0)
('PALM BAY, FL', 40.0)
('SAGINAW, MI', 40.08571429)
('YOUNGSTOWN, OH', 40.09166667)
('WARREN, MI', 40.26)
('HOLLYWOOD, FL', 40.27777778)
('SPRINGFIELD, OH', 40.42)
('REDDING, CA', 40.425)
('ASHEVILLE, NC', 40.48)
('LITTLETON, CO', 40.52)
('SANTA ROSA, CA', 40.55)
('SPRINGFIELD, IL', 40.62857143)
('GAITHERSBURG, MD', 40.64)
('TORRANCE, CA', 40.72)
('CANTON, OH', 40.725)
('METAIRIE, LA', 40.78)
('RENO, NV', 40.8)
('FLORISSANT, MO', 40.86666667)
('FLUSHING, NY', 40.925)
('HENDERSON, NV', 41.05)
('ARVADA, CO', 41.1)
('GRAND JUNCTION, CO', 41.15)
('POMPANO BEACH, FL', 41.16666667)
('WILMINGTON, DE', 41.19)
('HIALEAH, FL', 41.27142857)
('STERLING HEIGHTS, MI', 41.425)
('CARLSBAD, CA', 41.425)
('HUNTINGTON BEACH, CA', 41.525)
('FORT LAUDERDALE, FL', 41.55555556)
('SANTA BARBARA, CA', 41.8)
('CHARLESTON, WV', 42.66666667)
('BEND, OR', 42.66666667)
('MIAMI BEACH, FL', 43.02)
('YUMA, AZ', 43.03333333)
('SAINT AUGUSTINE, FL', 43.62)
('CAPE CORAL, FL', 43.68333333)
('PORT SAINT LUCIE, FL', 43.78333333)
('OCALA, FL', 43.98181818)
('ROCKFORD, IL', 44.08888889)
('SURPRISE, AZ', 44.425)
('ALLENTOWN, PA', 44.47142857)
('MYRTLE BEACH, SC', 44.66)
('CLEARWATER, FL', 44.76666667)
('FORT MYERS, FL', 44.97272727)
('SCOTTSDALE, AZ', 46.09090909)
('SAINT PETERSBURG, FL', 46.275)
('NEW PORT RICHEY, FL', 46.725)
('SANTA FE, NM', 47.22)
('MELBOURNE, FL', 47.26)
('LARGO, FL', 48.0)
('BRADENTON, FL', 48.01)
('BOYNTON BEACH, FL', 48.53333333)
('BOCA RATON, FL', 48.76666667)
('SPRING HILL, FL', 48.92)
('LANCASTER, PA', 50.0)
('TOMS RIVER, NJ', 50.46666667)
('VERO BEACH, FL', 52.08333333)
('SARASOTA, FL', 52.10769231)
('NAPLES, FL', 52.34285714)
('DELRAY BEACH, FL', 56.44)

In [90]:
import pandas as pd
import re

dracula_df = pd.read_csv('dracula.txt', sep='\n', header=None)
dracula_df.columns = ['text']

p = 'vampire'
dracula_df['text'].str.extractall(p)  #[0].value_counts()

ValueError: pattern contains no capture groups

In [75]:
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

from flask import Flask, jsonify

engine = create_engine("sqlite:///titanic.sqlite")
Base = automap_base()
Base.prepare(engine, reflect=True)

Passenger = Base.classes.passenger

app = Flask(__name__)

@app.route("/")
def welcome():
   """List all available api routes."""
   return (
       f"Available Routes:<br/>"
       f"/api/v1.0/names<br/>"
       f"/api/v1.0/passengers"
   )


if __name__ == '__main__':
   app.run(debug=True)

AttributeError: passenger