In [1]:
import json
import requests
import pandas as pd

In [41]:
# List of character
search_characters = ['R2-D2', 'Darth Vader', 'Godzilla', 'Luke Skywalker', 'Frodo', \
              'Boba Fett', 'Iron Man', 'Jon Snow', 'Han Solo']

# Set url for API
url = 'https://swapi.dev/api/people/?search='

# Set empty lists to hold character's height and mass
height = []
mass = []
names=[]
# Loop through each character and make API request
for name in search_characters:
    # Create search query, make request and store in json
    query_url = url+name
    data = requests.get(query_url).json()
#     print(data["results"])
#     print("------")
    
    # Try to grab the height and mass of characters if they are available in the Star Wars API
    try:
        height.append(data["results"][0]["height"])
        mass.append(data["results"][0]["mass"])
        names.append(name)
        
    except:
        print("Could not find it")
        
 
    # Handle exceptions for a character that is not available in the Star Wars API

Could not find it
Could not find it
Could not find it
Could not find it

In [36]:
data["results"]

[{'name': 'Han Solo',
  'height': '180',
  'mass': '80',
  'hair_color': 'brown',
  'skin_color': 'fair',
  'eye_color': 'brown',
  'birth_year': '29BBY',
  'gender': 'male',
  'homeworld': 'https://swapi.dev/api/planets/22/',
  'films': ['https://swapi.dev/api/films/1/',
   'https://swapi.dev/api/films/2/',
   'https://swapi.dev/api/films/3/'],
  'species': [],
  'vehicles': [],
  'starships': ['https://swapi.dev/api/starships/10/',
   'https://swapi.dev/api/starships/22/'],
  'created': '2014-12-10T16:49:14.582000Z',
  'edited': '2014-12-20T21:17:50.334000Z',
  'url': 'https://swapi.dev/api/people/14/'}]

In [42]:
# Create DataFrame
df = pd.DataFrame({"height":height,"mass":mass, "name":names}).set_index("name")
df

               height  mass
name
R2-D2              96    32
Darth Vader       202   136
Luke Skywalker    172    77
Boba Fett         183  78.2
Han Solo          180    80